#display {
  text-align: right;
  color: #fff;
}

#display-box {
  background-color: #003;
  height: 70px;
}

button {
  background-color: #bce;
  width: 100%;
  height: 70px;
}

table {
  width: 400px;
}
