* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
}

#display {
  text-align: right;
  color: #eefcff;
  margin-right: 20px;
  font-size: 27px;
}

#display-box {
  background-color: #181c46;
  height: 70px;
  border-radius: 7px;
}

button {
  background-color: #bce;
  width: 94.5px;
  height: 70px;
  color: #003;
  border-width: medium;
  border-color: #abd;
  display: inline-block;
  margin: .5px;
  border-radius: 5px;
}

button:hover{
  background-color: #b0c0f0;
}

button:active{
  border-color: #9eaece;
}

table {
  width: 410px;
  background-color: #f6faff;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 5px 5px 3px;
}

body{
  background-image: url("../images/doodle4.heic");
  background-color: #000;
}

#calculator-body{
  text-align: center;
}

#zero {
  width: 192px;
}

h1 {
  font-size: 36px;
  color: #deecff;
  text-shadow: 3px 3px 2px black;
  margin-top: 30px;
}
